<form action="<%= post_comments_url(@post) %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="content">Content
    <input type="text" name="comment[content]" id="content" value="" />
  </label>
  <br />

  <input type="submit" value="Create Comment!">
</form>
