<body>
  <h1>Log In!</h1>

  <form action="<%= session_url %>" method="POST">

    <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">

    <p><input type="text" name="user[email]" id="user_email">Email</p>
    <p><input type="password" name="user[password]" id="user_password">Password</p>
    <p><input type="submit" value="Log In"></p>
  </form>

</body>
